In [94]:
# Bactesting for EMA

In [95]:
# Installing Libraries
!pip install numpy as np
!pip install pandas as pd
!pip install yfinance as yf

Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (1.21.5)

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.4.2)

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

Requirement already satisfied: yfinance in c:\users\dell\anaconda3\lib\site-packages (0.1.74)

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [96]:
# Importing Libraries
import pandas as pd
import numpy as np
import yfinance as yf
import talib

In [97]:
# Download daily data from Yahoo Finance for SPY
df= yf.download("SPY", start="2022-01-03", end ="2022-11-07", interval="1d")

[*********************100%***********************]  1 of 1 completed

In [98]:
# Print dataframe
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,476.299988,477.850006,473.850006,477.709991,472.242310,72668200
2022-01-04,479.220001,479.980011,475.579987,477.549988,472.084137,71178700
2022-01-05,477.160004,477.980011,468.279999,468.380005,463.019104,104538900
2022-01-06,467.890015,470.820007,465.429993,467.940002,462.584167,86858900
2022-01-07,467.950012,469.200012,464.649994,466.089996,460.755341,85111600
...,...,...,...,...,...,...
2022-10-31,386.440002,388.399994,385.260010,386.209991,386.209991,96631300
2022-11-01,390.140015,390.390015,383.290009,384.519989,384.519989,85407600
2022-11-02,383.899994,388.630005,374.760010,374.869995,374.869995,126990400
2022-11-03,371.470001,374.200012,368.790009,371.010010,371.010010,87100100
2022-11-04,377.000000,378.869995,370.000000,376.350006,376.350006,103449600

In [99]:
# Considering only closing values 
Close = df["Close"]

In [100]:
# Checking the datatype of Close
print(type(Close))

<class 'pandas.core.series.Series'>

In [101]:
# Extracting 6 ema using talib library
ema6 = talib.EMA(Close, timeperiod = 6)

In [102]:
# Extracting 120 ema using talib library
ema120 = talib.EMA(Close, timeperiod = 120)

In [103]:
# Printing EMA 6
ema6

Date
2022-01-03           NaN
2022-01-04           NaN
2022-01-05           NaN
2022-01-06           NaN
2022-01-07           NaN
                 ...
2022-10-31    382.585059
2022-11-01    383.137896
2022-11-02    380.775639
2022-11-03    377.985459
2022-11-04    377.518187
Length: 213, dtype: float64

In [104]:
# Printing EMA120
ema120

Date
2022-01-03           NaN
2022-01-04           NaN
2022-01-05           NaN
2022-01-06           NaN
2022-01-07           NaN
                 ...
2022-10-31    395.940877
2022-11-01    395.752102
2022-11-02    395.406944
2022-11-03    395.003688
2022-11-04    394.695363
Length: 213, dtype: float64

In [105]:
# Creating a new column by incorporating  EMA6 and EMA120 in the dataframe df
df["ema6"] = ema6
df["ema120"] = ema120

In [106]:
df

,Open,High,Low,Close,Adj Close,Volume,ema6,ema120
Date,,,,,,,,
2022-01-03,476.299988,477.850006,473.850006,477.709991,472.242310,72668200,NaN,NaN
2022-01-04,479.220001,479.980011,475.579987,477.549988,472.084137,71178700,NaN,NaN
2022-01-05,477.160004,477.980011,468.279999,468.380005,463.019104,104538900,NaN,NaN
2022-01-06,467.890015,470.820007,465.429993,467.940002,462.584167,86858900,NaN,NaN
2022-01-07,467.950012,469.200012,464.649994,466.089996,460.755341,85111600,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-10-31,386.440002,388.399994,385.260010,386.209991,386.209991,96631300,382.585059,395.940877
2022-11-01,390.140015,390.390015,383.290009,384.519989,384.519989,85407600,383.137896,395.752102
2022-11-02,383.899994,388.630005,374.760010,374.869995,374.869995,126990400,380.775639,395.406944
2022-11-03,371.470001,374.200012,368.790009,371.010010,371.010010,87100100,377.985459,395.003688
2022-11-04,377.000000,378.869995,370.000000,376.350006,376.350006,103449600,377.518187,394.695363

In [107]:
# Filling NAN vales backwards for Dataframe
df =df.fillna( method = "bfill")

In [108]:
# Using a for loop to compare 6ema with 120ema and generating a signal.
postition =0
#position = int
for i in range(len(df)):
    if df["ema6"][i] < df["ema120"][i]:  # ema6 should be less than ema120.
        #print(" Buy Signal")
        print("Buy Entry Price", df["Close"][i])
        print("**********************")        
    else:
        #print('Sell signal')
        print("Sell Entry Price", df["Close"][i])
        print("**********************")

Sell Entry Price 477.7099914550781
**********************
Sell Entry Price 477.54998779296875
**********************
Sell Entry Price 468.3800048828125
**********************
Sell Entry Price 467.94000244140625
**********************
Sell Entry Price 466.0899963378906
**********************
Sell Entry Price 465.510009765625
**********************
Sell Entry Price 469.75
**********************
Sell Entry Price 471.0199890136719
**********************
Sell Entry Price 464.5299987792969
**********************
Sell Entry Price 464.7200012207031
**********************
Sell Entry Price 456.489990234375
**********************
Sell Entry Price 451.75
**********************
Sell Entry Price 446.75
**********************
Sell Entry Price 437.9800109863281
**********************
Sell Entry Price 439.8399963378906
**********************
Sell Entry Price 434.4700012207031
**********************
Sell Entry Price 433.3800048828125
**********************
Sell Entry Price 431.239990234375
**********************
Sell Entry Price 441.95001220703125
**********************
Sell Entry Price 449.9100036621094
**********************
Sell Entry Price 452.95001220703125
**********************
Sell Entry Price 457.3500061035156
**********************
Sell Entry Price 446.6000061035156
**********************
Sell Entry Price 448.70001220703125
**********************
Sell Entry Price 447.260009765625
**********************
Sell Entry Price 450.94000244140625
**********************
Sell Entry Price 457.5400085449219
**********************
Sell Entry Price 449.32000732421875
**********************
Sell Entry Price 440.4599914550781
**********************
Sell Entry Price 439.0199890136719
**********************
Sell Entry Price 446.1000061035156
**********************
Sell Entry Price 446.6000061035156
**********************
Sell Entry Price 437.05999755859375
**********************
Sell Entry Price 434.2300109863281
**********************
Sell Entry Price 429.57000732421875
**********************
Sell Entry Price 421.95001220703125
**********************
Sell Entry Price 428.29998779296875
**********************
Sell Entry Price 437.75
**********************
Sell Entry Price 436.6300048828125
**********************
Sell Entry Price 429.9800109863281
**********************
Sell Entry Price 437.8900146484375
**********************
Sell Entry Price 435.7099914550781
**********************
Sell Entry Price 432.1700134277344
**********************
Sell Entry Price 419.42999267578125
**********************
Buy Entry Price 416.25
**********************
Buy Entry Price 427.4100036621094
**********************
Buy Entry Price 425.4800109863281
**********************
Buy Entry Price 420.07000732421875
**********************
Buy Entry Price 417.0
**********************
Buy Entry Price 426.1700134277344
**********************
Buy Entry Price 435.6199951171875
**********************
Sell Entry Price 441.07000732421875
**********************
Sell Entry Price 444.5199890136719
**********************
Sell Entry Price 444.3900146484375
**********************
Sell Entry Price 449.5899963378906
**********************
Sell Entry Price 443.79998779296875
**********************
Sell Entry Price 450.489990234375
**********************
Sell Entry Price 452.69000244140625
**********************
Sell Entry Price 455.9100036621094
**********************
Sell Entry Price 461.54998779296875
**********************
Sell Entry Price 458.70001220703125
**********************
Sell Entry Price 451.6400146484375
**********************
Sell Entry Price 452.9200134277344
**********************
Sell Entry Price 456.79998779296875
**********************
Sell Entry Price 451.0299987792969
**********************
Sell Entry Price 446.5199890136719
**********************
Sell Entry Price 448.7699890136719
**********************
Sell Entry Price 447.57000732421875
**********************
Sell Entry Price 439.9200134277344
**********************
Sell Entry Price 438.2900085449219
**********************
Sell Entry Price 443.30999755859375
**********************
Sell Entry Price 437.7900085449219
**********************
Sell Entry Price 437.9700012207031
**********************
Sell Entry Price 445.0400085449219
**********************
Sell Entry Price 444.7099914550781
**********************
Sell Entry Price 438.05999755859375
**********************
Sell Entry Price 426.0400085449219
**********************
Sell Entry Price 428.510009765625
**********************
Sell Entry Price 416.1000061035156
**********************
Buy Entry Price 417.2699890136719
**********************
Buy Entry Price 427.80999755859375
**********************
Buy Entry Price 412.0
**********************
Buy Entry Price 414.4800109863281
**********************
Buy Entry Price 416.3800048828125
**********************
Buy Entry Price 429.05999755859375
**********************
Buy Entry Price 413.80999755859375
**********************
Buy Entry Price 411.3399963378906
**********************
Buy Entry Price 398.1700134277344
**********************
Buy Entry Price 399.0899963378906
**********************
Buy Entry Price 392.75
**********************
Buy Entry Price 392.3399963378906
**********************
Buy Entry Price 401.7200012207031
**********************
Buy Entry Price 400.0899963378906
**********************
Buy Entry Price 408.32000732421875
**********************
Buy Entry Price 391.8599853515625
**********************
Buy Entry Price 389.4599914550781
**********************
Buy Entry Price 389.6300048828125
**********************
Buy Entry Price 396.9200134277344
**********************
Buy Entry Price 393.8900146484375
**********************
Buy Entry Price 397.3699951171875
**********************
Buy Entry Price 405.30999755859375
**********************
Buy Entry Price 415.260009765625
**********************
Buy Entry Price 412.92999267578125
**********************
Buy Entry Price 409.5899963378906
**********************
Buy Entry Price 417.3900146484375
**********************
Buy Entry Price 410.5400085449219
**********************
Buy Entry Price 411.7900085449219
**********************
Buy Entry Price 415.739990234375
**********************
Buy Entry Price 411.2200012207031
**********************
Buy Entry Price 401.44000244140625
**********************
Buy Entry Price 389.79998779296875
**********************
Buy Entry Price 375.0
**********************
Buy Entry Price 373.8699951171875
**********************
Buy Entry Price 379.20001220703125
**********************
Buy Entry Price 366.6499938964844
**********************
Buy Entry Price 365.8599853515625
**********************
Buy Entry Price 375.07000732421875
**********************
Buy Entry Price 374.3900146484375
**********************
Buy Entry Price 378.05999755859375
**********************
Buy Entry Price 390.0799865722656
**********************
Buy Entry Price 388.5899963378906
**********************
Buy Entry Price 380.6499938964844
**********************
Buy Entry Price 380.3399963378906
**********************
Buy Entry Price 377.25
**********************
Buy Entry Price 381.239990234375
**********************
Buy Entry Price 381.9599914550781
**********************
Buy Entry Price 383.25
**********************
Buy Entry Price 388.989990234375
**********************
Buy Entry Price 388.6700134277344
**********************
Buy Entry Price 384.2300109863281
**********************
Buy Entry Price 380.8299865722656
**********************
Buy Entry Price 378.8299865722656
**********************
Buy Entry Price 377.9100036621094
**********************
Buy Entry Price 385.1300048828125
**********************
Buy Entry Price 381.95001220703125
**********************
Buy Entry Price 392.2699890136719
**********************
Buy Entry Price 394.7699890136719
**********************
Buy Entry Price 398.7900085449219
**********************
Buy Entry Price 395.0899963378906
**********************
Buy Entry Price 395.57000732421875
**********************
Buy Entry Price 390.8900146484375
**********************
Buy Entry Price 401.0400085449219
**********************
Buy Entry Price 406.07000732421875
**********************
Buy Entry Price 411.989990234375
**********************
Buy Entry Price 410.7699890136719
**********************
Buy Entry Price 408.05999755859375
**********************
Buy Entry Price 414.45001220703125
**********************
Buy Entry Price 414.1700134277344
**********************
Buy Entry Price 413.4700012207031
**********************
Buy Entry Price 412.989990234375
**********************
Buy Entry Price 411.3500061035156
**********************
Buy Entry Price 419.989990234375
**********************
Buy Entry Price 419.989990234375
**********************
Sell Entry Price 427.1000061035156
**********************
Sell Entry Price 428.8599853515625
**********************
Sell Entry Price 429.70001220703125
**********************
Sell Entry Price 426.6499938964844
**********************
Sell Entry Price 427.8900146484375
**********************
Sell Entry Price 422.1400146484375
**********************
Sell Entry Price 413.3500061035156
**********************
Sell Entry Price 412.3500061035156
**********************
Sell Entry Price 413.6700134277344
**********************
Sell Entry Price 419.510009765625
**********************
Buy Entry Price 405.30999755859375
**********************
Buy Entry Price 402.6300048828125
**********************
Buy Entry Price 398.2099914550781
**********************
Buy Entry Price 395.17999267578125
**********************
Buy Entry Price 396.4200134277344
**********************
Buy Entry Price 392.239990234375
**********************
Buy Entry Price 390.760009765625
**********************
Buy Entry Price 397.7799987792969
**********************
Buy Entry Price 400.3800048828125
**********************
Buy Entry Price 406.6000061035156
**********************
Buy Entry Price 410.9700012207031
**********************
Buy Entry Price 393.1000061035156
**********************
Buy Entry Price 394.6000061035156
**********************
Buy Entry Price 390.1199951171875
**********************
Buy Entry Price 385.55999755859375
**********************
Buy Entry Price 388.54998779296875
**********************
Buy Entry Price 384.0899963378906
**********************
Buy Entry Price 377.3900146484375
**********************
Buy Entry Price 374.2200012207031
**********************
Buy Entry Price 367.95001220703125
**********************
Buy Entry Price 364.30999755859375
**********************
Buy Entry Price 363.3800048828125
**********************
Buy Entry Price 370.5299987792969
**********************
Buy Entry Price 362.7900085449219
**********************
Buy Entry Price 357.17999267578125
**********************
Buy Entry Price 366.6099853515625
**********************
Buy Entry Price 377.9700012207031
**********************
Buy Entry Price 377.0899963378906
**********************
Buy Entry Price 373.20001220703125
**********************
Buy Entry Price 362.7900085449219
**********************
Buy Entry Price 360.0199890136719
**********************
Buy Entry Price 357.739990234375
**********************
Buy Entry Price 356.55999755859375
**********************
Buy Entry Price 365.9700012207031
**********************
Buy Entry Price 357.6300048828125
**********************
Buy Entry Price 366.82000732421875
**********************
Buy Entry Price 371.1300048828125
**********************
Buy Entry Price 368.5
**********************
Buy Entry Price 365.4100036621094
**********************
Buy Entry Price 374.2900085449219
**********************
Buy Entry Price 378.8699951171875
**********************
Buy Entry Price 384.9200134277344
**********************
Buy Entry Price 382.0199890136719
**********************
Buy Entry Price 379.9800109863281
**********************
Buy Entry Price 389.0199890136719
**********************
Buy Entry Price 386.2099914550781
**********************
Buy Entry Price 384.5199890136719
**********************
Buy Entry Price 374.8699951171875
**********************
Buy Entry Price 371.010009765625
**********************
Buy Entry Price 376.3500061035156
**********************

In [109]:
# Need to backtest the results using code